
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Viz.js</title>
    <script src="/static/node_modules/viz.js/viz.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <button onclick="create_node()">Create_node</button>
    <div id="graph">
    </div>
  </body>

    <script>
    var graph ="{{graph|safe}}".split(';');
    graph.pop();
    var Parents=[];
    var File=[];
    var Name=[];
    var Args=[];
    var to_update =[];
    function update_graph(){
        if (graph.length>0){
        document.querySelector("#graph").innerHTML = Viz('digraph{'+graph.join('; ')+';}', "svg");
        };
    };

    var _create_node=function (parents,
                    file,
                    name,
                    args

            ){
        graph.push(`\"${name}\"[label=\"node=${name} \n file=${file}\nfileOut=0\n\\\[${args}\\\]\" fillcolor = red href=\"${file}\" style=filled ]`);
        for (var i in parents){
            graph.push(`\"${parents[i]}\"->\"${name}\"`);
        };
        return graph;
        update_graph();
    };        
        
    function create_node(){
        var parents = eval(prompt("parents of node", ""));
        
        var file = prompt("File", "/codes/");
        var name = prompt("name of node", "Harry Potter");
        var args = eval(prompt("list of args", ""));
        _create_node(parents,
                    file,
                    name,
                    args);
        Parents.push(parents);
        File.push(file);
        Name.push(name);
        Args.push(args);
        update_graph(); 

        };    
     update_graph(); 

    function updateGraphOnline(){
        $.post("{{master}}",
                {parents:Parents,
                 file:File,
                 args: Args,
                 name: Name
                }
                );   
      
    }
    </script>
</html>

