<!DOCTYPE HTML>
<html>
  <head>
    <title>Proyects</title>
  </head>
  <body>
    <h1>Codes</h1>
      <ul>
      {%for c,code,l in codes%}
      <li><a href={{l}}> {{c}} </a></li>
          <pre><code>{{code}}</code> </pre>
      {%endfor%}
      </ul>
      <h1>Masters</h1>
      <ul>
      {%for m,master,l,keys in masters%}
        
        <li> <a href={{l}}>{{m}}</a>             {{master}}
             {{keys}}
             <ul>
             {%for k,c in keys%}
             <li><a href={{c}}>{{k}}></a></li>
             {%endfor%}
             </ul>
        </li>

      {%endfor%}
      </ul>
    <form method="POST"> 
      <textarea name="textbox"></textarea>
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
