<!DOCTYPE HTML>
<html>
  <head>
    <title>Proyects</title>
  </head>
  <body>
    <h1>Codes</h1>
    <a href=newcode>Make a new code file</a>
      <ul>
      {%for c,code,l in codes%}
      <li><a href=/ed{{l}}> {{c}} </a></li>
          <pre><code>{{code}}</code> </pre>
      {%endfor%}
      </ul>
      <h1>Masters</h1>
      <a href=newmaster>Make a new code master</a>
      <ul>
      {%for m,master,l,keys in masters%}
        
        <li> <a href=/ed{{l}}>{{m}}</a>           
            <ul>

                        <form method=post enctype=multipart/form-data>
             {%for k,c,t,isinp,d in keys%}
                 {%if isinp==1%}
                     <li>{{k}}
                            <input type=file name={{c}}>
                            <input type=submit value="submit files">{{d|safe}}
                    </li>
                 {%elif isinp==0%}
                    <li><a href={{c}}>{{k}}</a>:{{t|safe}}</li>
                 {%elif isinp==2%}
                 <li>{{k}}:{{t|safe}}</li>
                 {%endif%}

            {%endfor%}

                        </form>
             </ul>
        </li>

      {%endfor%}
      </ul>
    <!--<form method="POST"> 
      <textarea name="textbox"></textarea>
      <button type="submit" name="submit">Submit</button>
      </form>--!>
  </body>
</html>
